## Welcome to the Browser Wars (1995 - )
<p><img src="https://assets.datacamp.com/production/project_1172/img/browser.png" alt="Browser on desktop, tablet, and phone"></p>
<p>In the mid 1990s, the First Browser War began with Netscape Navigator and Microsoft Internet Explorer fighting for dominance. By 2001, Internet Explorer was the clear winner, but it was not long before the Second Browser Wars began (2004-2017). This coincided with the rise of smartphones, which emphasized the need and competitiveness for more mobile-friendly versions of browsers. <a href="https://en.wikipedia.org/wiki/Browser_wars">[1]</a></p>
<p>In this notebook, we'll analyze the worldwide popularity of browsers over time using Google Trends. Although this won't give us direct market share figures, we can use Google Trends to get a sense of interest of a given browser over time and how that interest compares to other browsers. In particular, we will be looking at five major players over the past two decades: Mozilla Firefox (2002-), Apple's Safari (2002-), Google Chrome (2008-), Microsoft Internet Explorer (1995-2020), and Opera (1995-).</p>
<p>The dataset you will use was downloaded as a CSV from this <a href="https://trends.google.com/trends/explore?date=all&q=%2Fm%2F01dyhm,%2Fm%2F0168s_,%2Fm%2F04j7cyf,%2Fm%2F03xw0,%2Fm%2F01z7gs">Google Trends query</a> in mid-October of 2020. Here are the details:</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/worldwide_browser_trends.csv</b></div>
This is a time series indexed by month with the search interest for each browser.
<ul>
    <li><b>Month:</b> each month from 2004-01 to 2020-10</li>
    <li><b>Firefox:</b> search interest for Firefox</li>
    <li><b>Safari:</b> search interest for Safari</li>
    <li><b>Google Chrome:</b> search interest for Chrome</li>
    <li><b>Internet Explorer:</b> search interest for Internet Explorer</li>
    <li><b>Opera:</b> search interest for Opera</li>
</ul>
</div>
<p>Google defines the values of search interest as:</p>
<blockquote>
  <p>Numbers represent search interest relative to the highest point on the chart for the given region and time. A value of 100 is the peak popularity for the term. A value of 50 means that the term is half as popular. A score of 0 means there was not enough data for this term.</p>
</blockquote>
<p>Best of luck and may the best browser win!</p>

In [326]:
# Use this cell to begin your analysis, and add as many as you would like!
import pandas as pd
import datetime as dt
import numpy as np

In [327]:
data = pd.read_csv("datasets/worldwide_browser_trends.csv")
data

       Month  Firefox  Safari  Google Chrome  Internet Explorer  Opera
0    2004-01       12       2              2                 37      9
1    2004-02       20       2              2                 39      9
2    2004-03       18       2              2                 34      8
3    2004-04       20       2              2                 33      9
4    2004-05       20       2              2                 35      9
..       ...      ...     ...            ...                ...    ...
197  2020-06        6       3             23                  2      3
198  2020-07        6       3             23                  2      3
199  2020-08        6       3             25                  2      3
200  2020-09        6       3             27                  2      3
201  2020-10        5       3             22                  2      3

[202 rows x 6 columns]

In [328]:
data['Month'] = pd.to_datetime(data['Month'])

In [329]:
rolling_six = data.copy(deep=True)
rolling_six.set_index("Month",inplace=True)
rolling_six = rolling_six.iloc[:,:].rolling(window=6).mean()
rolling_six

             Firefox    Safari  Google Chrome  Internet Explorer  Opera
Month
2004-01-01       NaN       NaN            NaN                NaN    NaN
2004-02-01       NaN       NaN            NaN                NaN    NaN
2004-03-01       NaN       NaN            NaN                NaN    NaN
2004-04-01       NaN       NaN            NaN                NaN    NaN
2004-05-01       NaN       NaN            NaN                NaN    NaN
...              ...       ...            ...                ...    ...
2020-06-01  6.166667  2.666667      24.666667                2.0    3.0
2020-07-01  6.166667  2.833333      25.000000                2.0    3.0
2020-08-01  6.166667  3.000000      25.333333                2.0    3.0
2020-09-01  6.166667  3.000000      25.500000                2.0    3.0
2020-10-01  5.833333  3.000000      24.333333                2.0    3.0

[202 rows x 5 columns]

In [330]:
pct_change_quarterly = data.set_index("Month")
mask = (pct_change_quarterly.index.year >= 2009)
a = (pct_change_quarterly.pct_change(periods=3))*100
pct_change_quarterly = pd.DataFrame(a[mask])
pct_change_quarterly

              Firefox     Safari  Google Chrome  Internet Explorer     Opera
Month
2009-01-01   4.545455  25.000000       0.000000           9.090909  0.000000
2009-02-01  -1.515152  20.000000       0.000000           9.090909 -9.090909
2009-03-01  -7.042254  40.000000     -13.333333          20.000000 -8.333333
2009-04-01  -7.246377   0.000000      23.076923          20.833333 -9.090909
2009-05-01  -6.153846 -16.666667      25.000000           8.333333  0.000000
...               ...        ...            ...                ...       ...
2020-06-01   0.000000   0.000000     -11.538462           0.000000  0.000000
2020-07-01 -14.285714   0.000000     -20.689655           0.000000  0.000000
2020-08-01   0.000000   0.000000      -3.846154           0.000000  0.000000
2020-09-01   0.000000   0.000000      17.391304           0.000000  0.000000
2020-10-01 -16.666667   0.000000      -4.347826           0.000000  0.000000

[142 rows x 5 columns]

In [337]:
chrome_trends = data.copy(deep=True)
chrome_trends=chrome_trends[chrome_trends["Month"].dt.year.isin([2009,2012,2015,2018])]

chrome_trends['years'] = chrome_trends["Month"].dt.year
chrome_trends['months'] = chrome_trends["Month"].dt.month
chrome_trends=pd.pivot_table(chrome_trends,index="")

,Month,Firefox,Safari,Google Chrome,Internet Explorer,Opera,years,months
60,2009-01-01,69,5,13,24,11,2009,1
61,2009-02-01,65,6,12,24,10,2009,2
62,2009-03-01,66,7,13,30,11,2009,3
63,2009-04-01,64,5,16,29,10,2009,4
64,2009-05-01,61,5,15,26,10,2009,5
65,2009-06-01,62,7,15,25,10,2009,6
66,2009-07-01,73,6,18,27,10,2009,7
67,2009-08-01,72,5,18,26,11,2009,8
68,2009-09-01,67,6,20,24,13,2009,9
69,2009-10-01,66,5,21,23,11,2009,10
70,2009-11-01,68,5,24,23,12,2009,11
71,2009-12-01,69,5,29,23,11,2009,12
96,2012-01-01,50,5,52,16,18,2012,1
97,2012-02-01,48,5,50,15,18,2012,2
98,2012-03-01,44,5,47,15,18,2012,3
99,2012-04-01,41,5,47,14,17,2012,4
100,2012-05-01,40,5,48,14,16,2012,5
101,2012-06-01,43,5,45,13,17,2012,6
102,2012-07-01,44,5,51,13,17,2012,7
103,2012-08-01,42,6,53,14,17,2012,8
104,2012-09-01,43,5,50,16,17,2012,9
105,2012-10-01,41,5,48,14,15,2012,10
106,2012-11-01,39,5,48,13,16,2012,11
107,2012-12-01,37,5,48,12,17,2012,12
132,2015-01-01,27,4,48,9,13,2015,1
133,2015-02-01,26,4,45,9,12,2015,2
134,2015-03-01,25,4,42,8,11,2015,3
135,2015-04-01,25,4,47,8,12,2015,4
136,2015-05-01,24,4,46,7,11,2015,5
137,2015-06-01,24,4,43,8,11,2015,6
138,2015-07-01,24,4,44,8,10,2015,7
139,2015-08-01,24,4,43,8,10,2015,8
140,2015-09-01,23,4,41,7,10,2015,9
141,2015-10-01,22,4,40,7,9,2015,10
142,2015-11-01,21,4,38,6,9,2015,11
143,2015-12-01,20,4,37,6,8,2015,12
168,2018-01-01,10,3,24,3,4,2018,1
169,2018-02-01,9,3,24,3,4,2018,2
170,2018-03-01,9,3,24,3,4,2018,3
171,2018-04-01,8,3,22,3,4,2018,4
172,2018-05-01,8,3,23,3,3,2018,5
173,2018-06-01,7,2,22,3,3,2018,6
174,2018-07-01,7,2,20,3,3,2018,7
175,2018-08-01,7,2,21,3,3,2018,8
176,2018-09-01,7,3,25,3,3,2018,9
177,2018-10-01,7,3,23,3,3,2018,10
178,2018-11-01,7,2,22,3,3,2018,11
179,2018-12-01,7,3,22,2,3,2018,12